<div *ngIf="!usuarioLogueado">
<app-login></app-login>
</div>

<div *ngIf="usuarioLogueado" style="font-family: Arial, sans-serif; padding: 20px;">

<header style="display: flex; justify-content: space-between; align-items: center; background-color: #0056b3; color: white; padding: 10px 20px; border-radius: 8px; margin-bottom: 20px;">
    <span>🎓 <b>Bolsa de Empleo UNIPAZ</b> | Bienvenido: {{ usuarioLogueado.nombre }} (<i>{{ usuarioLogueado.rol | uppercase }}</i>)</span>
    <button (click)="salir()" style="background-color: #dc3545; color: white; border: none; padding: 8px 15px; border-radius: 4px; cursor: pointer; font-weight: bold;">
    Cerrar Sesión 🚪
    </button>
</header>

  <div *ngIf="usuarioLogueado.rol === 'admin'" style="background-color: #fff3cd; border: 1px solid #ffeeba; padding: 20px; border-radius: 8px; margin-bottom: 20px;">
    <h3>🛠️ Panel de Control del Administrador</h3>
    <p>Tienes permisos totales para gestionar empresas, auditar vacantes y supervisar el sistema de UNIPAZ.</p>
</div>

  <div *ngIf="usuarioLogueado.rol === 'empresa' || usuarioLogueado.rol === 'admin'">
    <app-job-form></app-job-form>
</div>

<div>
    <app-job-list></app-job-list>
</div>

</div>